<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwConfigExceptions="true">
    <targets async="true">
      <target name="logfile" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString}"
          fileName="${basedir}/logfile.txt"
          keepFileOpen="true"
          encoding="utf-8" />
      <target name="devlogfile" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString}"
          fileName="${basedir}/devlogfile.txt"
          keepFileOpen="true"
          encoding="utf-8" />
      <target xsi:type="Console"
        name="logconsole"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logconsole" />
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="devlogfile" />
    </rules>
  </nlog>
</configuration>