<div class="d-flex w-100">
  <form #credentialsForm="ngForm" class="col-10 col-md-4 ml-auto mr-auto">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required
             [(ngModel)]="credentials.email" name="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
             [(ngModel)]="credentials.password" name="password" />
    </div>
    <button class="btn btn-primary" (click)="create()">Register</button>
  </form>
  <!--<button class="btn btn-primary" (click)="getAuthData()">Get auth data</button>
  <button class="btn btn-primary" (click)="ensureSignIn()">ensureSignIn</button>
  <button class="btn btn-primary" (click)="ensureSignInAndGetData()">ensureSignInAndGetData</button>
  <button class="btn btn-primary" (click)="signIn()">signIn</button>
  <button class="btn btn-primary" (click)="signOut()">signOut</button>-->
</div>
