<div *ngIf="currentCategory" class="row">
  <div class="col-12 col-md-12 categories">
    <div *ngFor="let parentCategory of categoryHierarchy.parentCategories">
      <a [routerLink] [queryParams]="getCategoryParams(parentCategory.id)" [ngClass]="{'category': true, 'link': true, 'current-category': currentCategory.id==parentCategory.id, 'parent-category': currentCategory.id != parentCategory.id}">{{parentCategory.title}}</a>
    </div>
    <div  *ngFor="let subcategory of categoryHierarchy.subcategories">
      <a [routerLink] [queryParams]="getCategoryParams(subcategory.id)" class="category subcategory link">> {{subcategory.title}}</a>
    </div>
  </div>
</div>
