<div class="row">
  <div class="col-md-3">
    <app-measurement-unit-index [administrating]="true"></app-measurement-unit-index>
  </div>
  <div class="col-md-3">
    <app-category-index [administrating]="true"></app-category-index>
  </div>
  <div class="col-md-3">
    <app-characteristic-index [administrating]="true"></app-characteristic-index>
  </div>
  <div class="col-md-3">
    <app-characteristic-value-index [administrating]="true"></app-characteristic-value-index>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-brand-index [administrating]="true"></app-brand-index>
  </div>
</div>
