<div class="row paginator" *ngIf="index && index.entities.length">
  <div class="col-auto col-md-auto">
    <ul class="pagination">
      <li class="page-item"><a [routerLink] [queryParams]="getPageParams(index.page - 1)" [ngClass]="{'hidden': index.page == 1 }" class="page-link">Previous</a></li>
      <li *ngFor="let page of pageNumbers" class="page-item"><a [routerLink] [queryParams]="getPageParams(page)" [ngClass]="{'current-page-button': page==index.page}" class="page-link">{{ page }}</a></li>
      <li class="page-item"><a [routerLink] [queryParams]="getPageParams(index.page + 1)" [ngClass]="{'hidden': index.page == index.totalPages}" class="page-link">Next</a></li>
    </ul>
    <div class="page-size" >
      <span>Page size</span>
      <a *ngFor="let pageSize of pageSizes" [routerLink] [queryParams]="getPageSizeParams(pageSize)" class="link">{{ pageSize }}</a>
    </div>
  </div>
</div>
