<div class="paginator d-flex flex-wrap" *ngIf="index && index.entities.length">
  <ul class="pagination d-flex flex-wrap col-12">
    <li class="page-item mt-2"><a [routerLink] [queryParams]="getPageParams(index.page - 1)" [ngClass]="{'hidden': index.page == 1 }" class="page-link">Previous</a></li>
    <li *ngIf="showFirst" class="page-item mt-2"><a [routerLink] [queryParams]="getPageParams(1)" class="page-link">1</a></li>
    <li *ngIf="showFirst" class="page-item mt-2" ><a class="page-link">...</a></li>
    <li *ngFor="let page of pageNumbers" class="page-item mt-2"><a [routerLink] [queryParams]="getPageParams(page)" [ngClass]="{'current-page-button': page==index.page}" class="page-link">{{ page }}</a></li>
    <li *ngIf="showLast" class="page-item mt-2"><a class="page-link">...</a></li>
    <li *ngIf="showLast" class="page-item mt-2"><a [routerLink] [queryParams]="getPageParams(index.totalPages)" class="page-link">{{ index.totalPages }}</a></li>
    <li class="page-item mt-2"><a [routerLink] [queryParams]="getPageParams(index.page + 1)" [ngClass]="{'hidden': index.page == index.totalPages}" class="page-link ">Next</a></li>
  </ul>
  <div class="page-size col-12">
    <span>Page size</span>
    <a *ngFor="let pageSize of pageSizes" [routerLink] [queryParams]="getPageSizeParams(pageSize)" class="link">{{ pageSize }}</a>
  </div>
</div>
