<div class="row">
  <div class="col">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Osprey Store</h3>
      </div>
      <ul class="list-unstyled components">
        <li class="active">
          <button type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Items</button>
          <div [ngbCollapse]="isCollapsed">
            <app-items-navigation-pane></app-items-navigation-pane>
          </div>
          <!--<ul class="list-unstyled" id="itemsNavigationPane" [ngbCollapse]="isCollapsed">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>-->
        </li>
        <!--<li>
        <button type="button" (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="isCollapsed1" aria-controls="pageSubmenu">Items1</button>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-copy"></i>
          Pages
        </a>
        <ul class="list-unstyled" id="pageSubmenu" [ngbCollapse]="isCollapsed1">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>-->
      </ul>
    </nav>
  </div>
</div>

