<div class="row" *ngIf="store && store.id">
  <div *ngFor="let administrator of storeAdministrators">
    <p>{{ administrator.email }}</p><button (click)="removeStoreAdministrator(administrator)">Remove</button>
  </div>
  <div>
    <form>

      <div *ngFor="let a of addedStoreAdministrators; index as i;">
        <input type="text" class="form-control" id="administrator_{{i}}"
               name="administrator_{{i}}"
               required [(ngModel)]="a.email" />
      </div>

      <button (click)="saveAddedAdministrators()">Save added</button>
    </form>
  </div>
  <div>
    <button (click)="addStoreAdministrator()">Add administrator</button>
  </div>
</div>
