<div class="w-100 h-100">
  <div class="overlay" [ngClass]="{ 'active': isActive }" (click)="disable()">
  </div>
  <div class="w-100 h-100 d-flex flex-column" >
    <ul class="actions list-unstyled d-flex flex-column align-self-end" [ngClass]="{ 'active': isActive }" [@fadeInFadeOut]="isActive ? 'fadeIn' : 'fadeOut'">
      <li>Store Orders</li>
      <li>My Orders</li>
      <li class="m-2 mt-5"><button class="btn btn-danger w-100" (click)="signOut()">Sign Out</button></li>
    </ul>
  </div>
</div>

