.wrapper {
  background-color: whitesmoke;
  height: 100%;
}

/*.wrapper .row {
  height: 100%;
}

.wrapper .row > * {
  height: 100%;
}*/

.main-background-color {
  background-color: aquamarine;
}

.sidebar {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

@media(max-width: 576px) {
  .sidebar {
    display: none;
  }
}
