﻿@model ItemImageCreateViewModel

<form method="post" enctype="multipart/form-data" asp-controller="Images" asp-action="Create">
    <input type="hidden" name="ItemId" id="ItemId" value="@Model.ItemId" />
    <div class="form-group">
        <label asp-for="@Model.Title" class="control-label"></label>
        <input asp-for="@Model.Title" type="text" class="form-control" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="@Model.ImageFormFile" type="file" class="form-control" />
        <span asp-validation-for="@Model.ImageFormFile" class="text-danger"></span>
    </div>
    <input type="submit" value="Upload" class="btn btn-default" />
</form>