﻿@model ViewModels.ItemImageViewModel

<form action="@Url.Action("Delete", "Images", new { id = Model.Id })" method="post">
    <input type="hidden" id="Id" name="Id" value="@Html.DisplayFor(m => Model.Id)" />
    @Html.HiddenFor(m => Model.ItemId)"
    <div>
        <div class="item-card-image">
            <img src="@Url.Action("Get", "Images", new { id = Model.Id })" />
        </div>

        <input type="text" asp-for="@Model.Title" />
        <input type="submit" value="Delete" />
    </div>
</form>


