﻿@model ViewModels.ItemImageViewModel


    <div>
        <div class="item-card-image">
            <img src="@Url.Action("Get", "Images", new { id = Model.Id })" />
        </div>
        <div>
            @Html.DisplayFor(m => Model.Title)
        </div>
    </div>
