<div id="sidebar" class="d-flex flex-column h-100">
  <app-category-index (categorySelected)="setCurrentCategory($event)"></app-category-index>
  <ul class="list-unstyled">
    <li *ngFor="let category of allCategories">
      <ul class="list-unstyled" [@fadeInFadeOut]="category == currentCategory ? 'fadeIn' : 'fadeOut'">
        <li *ngFor="let characteristic of category.characteristics">
          <app-characteristic-pane  [characteristic]="characteristic" [currentCategory]="currentCategory"
                                    (characteristicValueSelected)="characteristicValueSelected($event)"
                                    (characteristicValueUnselected)="characteristicValueUnselected($event)"></app-characteristic-pane>
        </li>
      </ul>
    </li>
  </ul>
</div>

