app-sidebar {
  padding: 0;
}

.item-thumbnail {
  width: 15rem;
  /*height: 20rem;*/
}

.fab {
  width: 3rem;
  position: fixed;
  bottom: 8rem;
  right: 1rem;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #007bff;
}
