app-sidebar {
  padding: 0;
  /*width: 150px;
  height: 150px;*/
}

.item-thumbnail {
  width: 15rem;
  /*height: 20rem;*/
}

.fab {
  width: 3rem;
  position: fixed;
  bottom: 8rem;
  right: 1rem;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #007bff;
}



.tour-message-container {
  height: 0px;
  width: 0px;
  position: relative;
  z-index: 1000;
  top: 200px;
}

.tour-message-content {
  height: 160px;
  background-color: #c4dff0;
  border-radius: 5px;
}

  .tour-message-content p {
    width: 280px;
  }
