.category {
  /*border-left: 4px solid transparent;*/
}
  .category.active > button,
  .category.active > span > button {
    /*color: #fff;*/
    /*background-color: #009efb;*/
    border-left: 8px solid #009efb;
    transition: height 2s ease-out;
    /*background-color: red;*/
  }

.subcategory {
  /*background-color: #71c0ee;*/
  text-decoration: none;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

  .subcategory.active {
    /*color: #fff;*/
    /*background-color: #c4dff0;*/
  }
    .subcategory.active > button {
      border-left: 8px solid #009efb;
    }

ul li button {
  display: block;
  padding: 10px 15px;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  text-align: inherit;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  border-left: 8px solid transparent;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
  ul li button:hover {
    background: #c4dff0;
    border-left: 8px solid #009efb;
    color: #fff
  }

.inline {
  display: inline !important;
  width: auto !important;
}

.col > ul {
  margin-left: -19px;
}
