<div class="d-flex flex-row">
  <div *ngIf="itemThumbnail.images[0]" class="col-6 col-md-3" >
    <app-item-image-display [(itemImage)]="itemThumbnail.images[0]"></app-item-image-display>
  </div>
  <div class="col-6 col-md-9">
    <div>
      <a [routerLink]="[getDetailUrl(itemThumbnail.id)]" class="item-thumbnail__title">
        {{ itemThumbnail.title }}
      </a>
    </div>
    <div>
      <p>by {{ itemThumbnail.brand.title }}</p>
    </div>
    <div>
      <p>
        {{ itemThumbnail.variantsTitles }}
      </p>
    </div>
    <div *ngIf="itemThumbnail.minPrice">{{ itemThumbnail.minPrice }} <span *ngIf="itemThumbnail.minPrice != itemThumbnail.maxPrice"> - {{ itemThumbnail.maxPrice }}</span></div>
  </div>
</div>
