  <app-item-variant-image-display class="card-img-top d-flex justify-content-center" [(itemVariantImage)]="currentImage" (mouseenter)="launchSlideShow(getTimestamp())" (mouseleave)="stopSlideShow()"></app-item-variant-image-display>
  <!--<div *ngIf="itemThumbnail.images[0]" class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2" >
    <app-item-variant-image-display [(itemImage)]="itemThumbnail.images[0]"></app-item-variant-image-display>
  </div>-->
  <div class="card-body">
    <a [routerLink]="[getDetailUrl(itemThumbnail.id)]" class="card-title">
      {{ itemThumbnail.title }}
    </a>
    <p class="card-text ">by {{ itemThumbnail.brand.title }}</p>
    <div>
      <span class="card-text from">from $</span>
      <span class="min-price">{{ itemThumbnail.minPrice }}</span>
    </div>
    <!--<ul class="list-group list-group-flush">
      <li *ngFor="let v of itemThumbnail.itemVariants" class="list-group-item"> {{ v.title }}</li>
    </ul>-->
    <!--<div *ngIf="itemThumbnail.minPrice">{{ itemThumbnail.minPrice }} <span *ngIf="itemThumbnail.minPrice != itemThumbnail.maxPrice"> - {{ itemThumbnail.maxPrice }}</span></div>-->
  </div>
