<div class="row paginator" *ngIf="index">
  <div class="col-auto col-md-auto">
    <div>
      <button (click)="pageClick(index.page - 1)" [ngClass]="{'btn': true, 'hidden': index.page == 1}">Previous</button>
      <button *ngFor="let page of pageNumbers" (click)="pageClick(page)" [ngClass]="{'page-button': true, 'btn' : true, 'btn-light': true,'current-page-button': page==index.page}">{{ page }}</button>
      <button (click)="pageClick(index.page + 1)" [ngClass]="{'btn': true, 'hidden': index.page == index.totalPages}">Next</button>
    </div>
    <div class="page-size" >
      <span>Page size</span>
      <a *ngFor="let pageSize of pageSizes" [routerLink] [queryParams]="getUpdatedParams(pageSizeParamName, pageSize)" (click)="pageSizeClick(pageSize)" class="link">{{ pageSize }}</a>
    </div>
  </div>
</div>
