<div *ngIf="itemThumbnailIndex" class="row">
  <div class="col-12 col-md-9">
    <div>
      <a [routerLink] [queryParams]="getOrderByPriceQueryParams()">Price</a>
    </div>
    <div class="item-thumbnail-index">
      <div class="row justify-content-start">
        <app-item-thumbnail *ngFor="let itemThumbnail of itemThumbnailIndex.entities" [itemThumbnail]="itemThumbnail" class="item-thumbnail col-auto col-md-auto"></app-item-thumbnail>
      </div>
      <div class="row fixed-row-bottom">
        <div class="col-md-12">
          <app-paginator [index]="itemThumbnailIndex"></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
