<div *ngIf="itemThumbnailIndex" class="row">
  <div class="col-12 col-md-9">
    <div>
      <a [routerLink] [queryParams]="getOrderByPriceQueryParams()">Price</a>
    </div>
    <div >
      <div class="row" infinite-scroll
             [infiniteScrollDistance]="1"
             [infiniteScrollUpDistance]="2"
             [infiniteScrollThrottle]="1000"
             [immediateCheck]="false"
             (scrolled)="onScrollDown()">

          <app-item-thumbnail *ngFor="let itemThumbnail of itemThumbnailIndex.entities" [itemThumbnail]="itemThumbnail" class="item-thumbnail col-12 col-sm-12 col-md-6 col-lg-3"></app-item-thumbnail>
          <!--<p *ngFor="let i of ii"> {{i}}</p>-->
      </div>
      <div class="row fixed-row-bottom">
        <div class="col-md-12">
          <app-paginator [index]="itemThumbnailIndex"></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
