.category {
  border-left: 4px solid transparent;
}

.category.active>button {
  color: #fff;
  background-color: #796AEE;
  border-left: 4px solid #3b25e6;
  transition: height 2s ease-out;
}

.subcategory {
  background-color: #EEF5F9;
  text-decoration: none;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

  .subcategory.active {
    color: #fff;
    background-color: #8e81f1;
  }
  .subcategory.active > button {
    border-left: 4px solid #3b25e6;
  }

ul li button {
  display: block;
  padding: 10px 15px;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
  text-align: inherit;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  border-left: 4px solid transparent;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
  ul li button:hover {
    background: #796AEE;
    border-left: 4px solid #3b25e6;
    color: #fff
  }



  /*.expanded-arrow {
    content: '\f104';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    right: 20px;
    float: right;
  }

  .not-expanded-arrow {
    content: '\f107';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    right: 20px;
    float: right;
  }*/
