<div *ngIf="allCategories" class="row">
  <div class="col">
    <ul class="list-unstyled">
      <li [ngClass]="{ 'active': rootCategory.expanded }" class="category">
        <button type="button" (click)="navigateRootCategory()">{{ rootCategory.title }}</button>
      </li>
      <li *ngFor="let category of allCategories" [ngClass]="{ 'active': category.expanded }" class="category">
        <button type="button" (click)="navigateParentCategory(category)">{{ category.title }}</button>
        <ul class="list-unstyled" [@expandCollapse]="category.expanded ? 'expanded' : 'collapsed'">
          <li *ngFor="let subcategory of category.subcategories" [ngClass]="{ 'active': category.currentSubcategory == subcategory }" class="subcategory">
            <button type="button" (click)="navigateSubcategory(category, subcategory)">{{ subcategory.title }}</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
