<header class="d-flex flex-row align-content-center flex-wrap pb-2">
  <div class="flex-grow-1 d-flex flex-row flex-wrap align-content-center mt-2">
    <a class="name mb-2 col-12 col-sm-4 pr-0" [routerLink]="['/']">Osprey Store</a>
    <form class="form-inline col flex-grow-1 d-flex flex-row">
      <input type="text" class="form-control col flex-grow-1 w-100" [(ngModel)]="searchValue" name="searchValue" />
      <button type="submit" (click)="search()" class="btn col-4 col-lg-2 ml-3 btn-primary ">Search</button>
    </form>
  </div>
  <div class="col-12 col-md-4 col-lg-3 d-flex flex-row mt-2 align-content-center account-control">
    <input type="image" class="icon col" src="assets/sidebar.svg" (click)="switchSidebar()" />
    <input type="image" [routerLink]="['/cart']" class="icon col" src="assets/cart.svg" />
    <button [routerLink]="['/signUp']" class="btn col-5 btn-danger" *ngIf="!signedIn">Sign In</button>
    <img class="icon col" src="assets/more.svg" *ngIf="signedIn"/>
    <div class="signed-in-actions" *ngIf="false">
      <div>

      </div>
      <!--<div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="signed-inactions-menu" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu placement="bottom-right" id="signed-inactions-menu" aria-labelledby="signed-inactions-menu">
        <p class="dropdown-item">{{email}}</p>
        <a class="dropdown-item" *ngIf="isContentAdministrator" [routerLink]="['/administrating', 'content']">Administrating</a>
        <a class="dropdown-item" *ngIf="isStoreAdministrator" [routerLink]="['/stores', storeId, 'detail']">Manage store</a>
        <button (click)="signOut()" class="btn btn-secondary dropdown-item">Sign Out</button>
      </div>
    </div>-->
    </div>
  </div>
</header>

<!--<div class="row">
    <div class="title col-12 col-md-2">
      <p id="header_title">Osprey Store</p>
    </div>

    <div class="col-12 col-md-12">
      <div class="dropdown">
        <button id="items" class="dropbtn">
          Items
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/items']">Items</a>
          <a [routerLink]="['/items/create']">Create item</a>
        </div>
      </div>
      <div class="dropdown">
        <button id="stores" class="dropbtn">
          Stores
        </button>
        <div class="dropdown-content">
          <a class="dropdown-item" [routerLink]="['/stores']">Stores</a>
          <a class="dropdown-item" [routerLink]="['/stores/create']">Create store</a>
        </div>
      </div>
      <div>
        <a [routerLink]="['/cart']">Cart</a>
      </div>
      <div *ngIf="isContentAdministrator">
        <a [routerLink]="['/administrating']">Administrating</a>
      </div>
    </div>
  </div>
</div>
>-->
