.name {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom-style: none;
}
header {
  height: auto;
  background: #007bff;
  /*background: linear-gradient(90deg, rgba(0,158,251,1) 0%, rgba(0,158,251,1) 5%, rgba(175,225,255,1) 100%);*/
  color: #fff;
}

.icon {
  min-height: 2.5rem;
  max-height: 3.0rem;
  min-width: 3.5rem;
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}


button {
  border-color: white;
}

.tour-message-container {
  height: 0px;
  width: 280px;
  position: absolute;
  z-index: 1000;
  top: 70px;
  right: 5%;
}

.tour-message-content {
  height: 130px;
  background-color: #c4dff0;
  border-radius: 5px;
}
.tour-triangle-top {
  margin-left: 85px;
}
  /*#signed-inactions-menu {
    left: -66px !important;
  }

  .signed-in-actions * p {
    margin: 0px;
  }

  .signed-in-actions > span {
    display: inline;
    min-width: 90px;
  }*/
