<div class="row">
  <div class="col-md-4">
    <div class="row">
      <app-brand-index class="col-8" [administrating]="true"></app-brand-index>
    </div>
    
  </div>
  <div class="col-md-8">
    <div class="row">
      <app-category-index class="col-md-4 col-xl-3" [administrating]="true"></app-category-index>
      <app-characteristic-index class="col-md-4 col-xl-4" [administrating]="true"></app-characteristic-index>
      <app-characteristic-value-index class="col-md-4 col-xl-5" [administrating]="true"></app-characteristic-value-index>
    </div>
  </div>
</div>
