<div *ngIf="item.id" class="row justify-content-start">
  <div class="col-auto col-md-auto">
    <form class="upload-image-form" #itemImageForm="ngForm">
      <div class="form-group">
        <input style="display: none"
               type="file" (change)="onFileChanged($event)"
               #fileInput id="file" name="file">
        <button class="btn btn-light" (click)="fileInput.click()">Select File</button>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!itemImageForm.form.valid" (click)="saveItemImage()">Save item image</button>
    </form>
  </div>
  <div *ngFor="let itemImage of itemImages; index as i" [attr.data.index]="i" class="col-auto col-md-auto">
    <form class="item-image__form">
      <div class="item-image__image">
        <app-item-image-display [itemImage]="itemImage"></app-item-image-display>
      </div>
      <div class="form-group">
        <input type="text" class="item-image__title" [(ngModel)]="itemImage.title" id="item-image__title_{{i}}" name="item-image__title_{{i}}" />
        <div class="item-image__buttons">
          <button type="submit" class="btn btn-primary" (click)="updateItemImage(itemImage)">Update</button>
          <button type="button" class="btn btn-danger" (click)="deleteItemImage(itemImage)">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
