<header class="row">
  <div class="col-3 col-xl-2">
    <p class="name">
      <a [routerLink]="['/']">Osprey Store</a>
    </p>
  </div>
  <div class="search col-5 col-xl-7">
    <form class="form-inline">
      <input type="text" class="form-control" [(ngModel)]="searchValue" name="searchValue"/>
      <button type="submit" (click)="search()" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="col-4 col-xl-3 account-control">
    <div class="row">
      <div class="not-signed-in-actions col" *ngIf="!signedIn">
        <button [routerLink]="['/', 'signUp']" class="btn btn-danger">Register</button>
        <button [routerLink]="['/', 'signIn']" class="btn btn-primary">Sign In</button>
      </div>
      <div class="signed-in-actions col" *ngIf="signedIn">
          <div>
            <p>{{email}}</p>
            <p><a *ngIf="isContentAdministrator" [routerLink]="['/administrating', 'content']">Content administrating</a></p>
          </div>
          <div>
            <button (click)="signOut()" class="btn btn-secondary">Sign Out</button>
          </div>
      </div>
    </div>
  </div>
</header>

<!--<div class="row">
    <div class="title col-12 col-md-2">
      <p id="header_title">Octopus Store</p>
    </div>

    <div class="col-12 col-md-12">
      <div class="dropdown">
        <button id="items" class="dropbtn">
          Items
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/items']">Items</a>
          <a [routerLink]="['/items/create']">Create item</a>
        </div>
      </div>
      <div class="dropdown">
        <button id="stores" class="dropbtn">
          Stores
        </button>
        <div class="dropdown-content">
          <a class="dropdown-item" [routerLink]="['/stores']">Stores</a>
          <a class="dropdown-item" [routerLink]="['/stores/create']">Create store</a>
        </div>
      </div>
      <div>
        <a [routerLink]="['/cart']">Cart</a>
      </div>
      <div *ngIf="isContentAdministrator">
        <a [routerLink]="['/administrating']">Administrating</a>
      </div>
    </div>
  </div>
</div>
>-->
