<div class="row header">
  <div class="col-12 col-md-9">
    <div class="row">
      <div class="title col-12 col-md-2">
        <p id="header_title">Octopus Store</p>
      </div>
      <div class="search col-12 col-md-10">
        <form class="form-inline">
          <input id="header_search" type="text" class="form-control" />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <div class="col-12 col-md-12">
        <div class="dropdown">
          <button id="items" class="dropbtn">
            Items
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/items']">Items</a>
            <a [routerLink]="['/items/create']">Create item</a>
          </div>
        </div> 
        <div class="dropdown">
          <button id="stores" class="dropbtn">
            Stores
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" [routerLink]="['/stores']">Stores</a>
            <a class="dropdown-item" [routerLink]="['/stores/create']">Create store</a>
          </div>
        </div>
        <div>
          <a [routerLink]="['/cart']">Cart</a>
        </div>
        <div *ngIf="isContentAdministrator">
          <a [routerLink]="['/administrating']">Administrating</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div *ngIf="!signedIn" class="row">
      <div class="col-12 col-md-6">
        <a [routerLink]="['/', 'signUp']" class="link">Register</a>
      </div>
      <div class="col-12 col-md-6">
        <a [routerLink]="['/', 'signIn']" class="link">Sign In</a>
      </div>
    </div>
    <div *ngIf="signedIn" class="row">
      <div>
        <p>{{email}}</p>
      </div>
      <div class="col-12 col-md-6">
        <button  (click)="signOut()" class="link">Sign Out</button>
      </div>
    </div>
  </div>
  </div>
