<div *ngIf="itemDetail && itemDetail.itemVariants && itemDetail.itemVariants[0]" class="d-flex flex-row flex-wrap item-variants">
  <div class="flex-row col-12">
    <h4>Variants</h4>
    <button *ngFor="let variant of itemDetail.itemVariants"
            [ngClass]="{'item-variant__button': true, 'btn': true, 'btn-light': true,'current-item-variant__button': variant==currentVariant}"
            (click)="selectItemVariant(variant)">
      {{variant.title}}
    </button>
  </div>
  <div *ngIf="currentVariant" class="flex-row col-12 current-variant">
    <div class="current-item-variant__title">{{ currentVariant.title }}</div>
    <app-item-property-detail [(itemDetail)]="itemDetail" [(currentVariant)]="currentVariant">
    </app-item-property-detail>
  </div>
</div>
