.item-variants {
  margin-top: 16px;
  min-width: 200px;
}

.current-item-variant__button {
  box-shadow: 0px 0px 1px 1px DarkOrange;
  margin-top: 8px;
}

.current-item-variant__title {
  margin-top: 8px;
}

.item-variant__button {
  margin-right: 8px;
  margin-top: 8px;
}
