<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwConfigExceptions="true">
    <targets async="true">
      <target name="logfile" xsi:type="File"
          layout="${longdate} ${logger} ${message} ${exception:format=ToString,Data}"
          fileName="${basedir}/logs/logfile.txt"
          keepFileOpen="true"
          encoding="utf-8" />
      <target name="jsonLog" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString,Data}"
          fileName="${basedir}/logs/nlog-json-${shortdate}.log"
          keepFileOpen="true"
          encoding="utf-8" >
        <layout xsi:type="JsonLayout">
          <attribute name="time" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="logger" layout="${logger}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=ToString,Data}" />
        </layout>
      </target>
      <target xsi:type="Console"  name="logconsole"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logconsole" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="jsonLog" />
    </rules>
  </nlog>
</configuration>