﻿@model ViewModels.ItemViewModel


    <form asp-page="/Basket/Index" method="post">
        <div>
            <div class="item-card-image">
                @if (Model.ImageViewModels != null && Model.ImageViewModels.Any())
                {
                <img src="@Url.Action("Get", "Images", new { id = Model.ImageViewModels.ElementAt(0).Id })" />
                }
            </div>
            <div class="item-card-description">
                <div>
                    <span>@Model.Title</span>
                </div>
                <div>
                    <span>@Model.Price.ToString("N2")</span>
                </div>
                <div>
                    <span>@Model.Description</span>
                </div>
                <a asp-page="../Item/Details" asp-route-id="@Model.Id">Details</a>
                <input type="submit" value="[ADD TO BASKET]" />
            </div>

        </div>
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Title" name="title" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
        <input type="hidden" asp-for="@Model.Description" name="description" />

    </form>
