﻿@page "{id:int?}"
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Brand.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Category.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.MeasurementUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.MeasurementUnit.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemModel.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemModel.Store.Title)
        </dd>
    </dl>
    <div>
        @foreach (var itemImage in Model.ItemModel.ImageViewModels)
        {
            Html.RenderPartial("ItemImage/_itemImageDetail", itemImage);
        }
    </div>
    <form method="post">
        <input type="hidden" asp-for="ItemModel.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
