﻿@page "{id:int?}"
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ItemModel.Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Title" class="control-label"></label>
                <input asp-for="ItemModel.Title" class="form-control" />
                <span asp-validation-for="ItemModel.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemModel.Category" class="control-label"></label>
                <select asp-for="ItemModel.CategoryId" class="form-control" asp-items="Model.ItemModel.Categories"></select>
                <span asp-validation-for="ItemModel.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemModel.Brand" class="control-label"></label>
                <select asp-for="ItemModel.BrandId" class="form-control" asp-items="Model.ItemModel.Brands"></select>
                <span asp-validation-for="ItemModel.BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.MeasurementUnit" class="control-label"></label>
                <select asp-for="ItemModel.MeasurementUnitId" class="form-control" asp-items="Model.ItemModel.MeasurementUnits"></select>
                <span asp-validation-for="ItemModel.MeasurementUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.StoreId" class="control-label"></label>
                <select asp-for="ItemModel.StoreId" class="form-control" asp-items="Model.ItemModel.Stores"></select>
                <span asp-validation-for="ItemModel.StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Description" class="control-label"></label>
                <input asp-for="ItemModel.Description" class="form-control" />
                <span asp-validation-for="ItemModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Price" class="control-label"></label>
                <input asp-for="ItemModel.Price" class="form-control" />
                <span asp-validation-for="ItemModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <div>
            @{ 
                Html.RenderPartial("itemImage/_itemImageCreate", new ItemImageCreateViewModel(Model.ItemModel.Id));
            }
        </div>
        <div>
           @if (Model.ItemModel.ImageViewModels != null && Model.ItemModel.ImageViewModels.Any())
           {
               foreach(var imageViewModel in Model.ItemModel.ImageViewModels)
               {
                   Html.RenderPartial("ItemImage/_itemImageEdit", imageViewModel);

               }
           }
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
