﻿@page "{id:int?}"
@{
    ViewData["Title"] = "Catalog";
    @model IndexModel
}
<div class="container-fluid">
    <div class="row">
        <section>
            <div class="index-navigation">
                <form method="get">
                    <label data-title="brand">
                        <select asp-for="@Model.ItemModel.CategoryFilterApplied" asp-items="@Model.ItemModel.Categories"></select>
                    </label>
                    <label data-title="brand">
                        <select asp-for="@Model.ItemModel.BrandFilterApplied" asp-items="@Model.ItemModel.Brands"></select>
                    </label>
                    <input type="submit" value="Filter" />
                </form>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="all-items">
            <div class="container">
                @if (Model.ItemModel.Items.Any())
            {
                @Html.Partial("_pagination", Model.ItemModel.PaginationInfo)

                <div class="row">
                    @foreach (var item in Model.ItemModel.Items)
                {
                    <div class="col-md-4 item-card">
                        @Html.Partial("_indexItem", item)
                    </div>
            }
                </div>
                @Html.Partial("_pagination", Model.ItemModel.PaginationInfo)
        }
        else
        {
            <div class="esh-catalog-item row">
                There are no results that match you search
            </div>

        }
            </div>
        </section>

    </div>
</div>