<div class="row">
  <div class="col-12 col-md-12">
    <form #credentialsForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required
               [(ngModel)]="credentials.email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required
               [(ngModel)]="credentials.password" name="password" />
      </div>
      <button class="btn btn-primary" (click)="save()">Save</button>
    </form>
    <div>
      {{ errorMessage }}
    </div>
  </div>
</div>
