<div *ngIf="orderIndex" class="d-flex flex-row flex-grow-1 flex-wrap">
  <div class="d-flex col-12 mt-4">
    <button *ngIf="isStoreAdministrator" class="btn" [ngClass]="{ 'btn-primary': isStoreView, 'btn-outline-primary': !isStoreView }" (click)="setView(true)">Store orders</button>
    <button class="btn ml-4" [ngClass]="{ 'btn-primary': !isStoreView, 'btn-outline-primary': isStoreView }" (click)="setView(false)">Own orders</button>
  </div>
  <div class="d-flex flex-row col-12 flex-wrap">
    <!--<tr>
      <th>Title</th>
      <th>Email</th>
      <th>Store</th>
      <th>Status</th>
      <th>Number</th>
      <th>Sum</th>
    </tr>-->
    <div *ngFor="let order of orderIndex.entities" class="order d-flex flex-row col-12 flex-grow-1 flex-wrap mt-3 mb-3 pt-3">
      <div class="col-10 col-lg-3 mb-2">{{ order.itemVariant.title }}</div>
      <div class="col-2 col-lg-1">${{ order.sum }}</div>
      <div class="col-12 col-lg-2">{{ order.customerEmail }}</div>
      <div class="col-7 col-lg-2 mb-2">{{ order.store.title }}</div>
      <div class="col-5 col-lg-1 mb-2">{{ getStatusString(order.status) }}</div>
      <button class="btn btn-outline-secondary col-5 col-lg-1 ml-3 " *ngIf="shouldShowFinishButton(order)" (click)="finishOrder(order)">Finish</button>
      <button class="btn btn-outline-secondary ml-3 col-5 col-lg-1" *ngIf="shouldShowCancelButton(order)" (click)="cancelOrder(order)">Cancel</button>
      <!--<div *ngIf="!shouldShowActionButtons(order)" class="col"></div>-->
    </div>
  </div>
</div>
