<div class="row" *ngIf="itemDetail">
  <div class="d-lg-none col-12 col-md-12">
    <button class="btn btn-link link" (click)="goBack()">Back</button>
  </div>
  <div *ngIf="displayedImages && displayedImages[0]" class="col-md-6">
    <div class="item-details__images">
      <app-item-image-gallery [images]="displayedImages"></app-item-image-gallery>
    </div>
  </div>
  <div class="col-md-6 item-details__main-properties">
    <div class="item-details__brand">
      <p>{{ itemDetail.brand.title }}</p>
    </div>
    <div class="item-details__title">
      <p>{{ itemDetail.title | uppercase }}</p>
    </div>
    <div [hidden]="!currentPrice" class="item-details__current-price">
      <p>Price: {{ currentPrice }}</p>
    </div>
    <div class="item-details__store">{{ itemDetail.store.title }}</div>
    <div class="item-details__description">
      {{itemDetail.description}}
    </div>
    <div>
      <a *ngIf="authorizedToUpdate" [routerLink]="[getUpdateLink(itemDetail.id)]" class="link">Update</a>
    </div>
    <app-item-variant-detail [itemDetail]="itemDetail" (itemVariantSelected)="itemVariantSelected($event)"></app-item-variant-detail>
  </div>
</div>
