<div class="d-flex flex-row w-100 flex-wrap mt-1 h-100" *ngIf="itemDetail">
  <!--<div class="d-lg-none col-12 col-md-12">
    <button class="btn btn-link link" (click)="goBack()">Back</button>
  </div>-->
  <app-item-variant-image-gallery  class="col-sm-12 col-md-6 order-md-0 order-1 h-75"></app-item-variant-image-gallery>
  <div class="col-sm-12 col-md-6 order-md-1 order-0">
    <p class="title">{{ itemDetail.title | uppercase }}</p>
    <p class="brand">by {{ itemDetail.brand.title }}</p>
    <div class="mb-3">
      <span class="price-title">Price: $</span>
      <span class="price">{{ currentPrice }}</span>
    </div>
    
    <div class="mb-3">
      <button (click)="addToCart()" class="btn btn-primary">Add to cart</button>
      <button *ngIf="shouldShowRemoveFromCart" (click)="removeFromCart()" class="btn btn-outline-primary ml-2">Remove From cart</button>
      <p *ngIf="numberInCart">In cart: {{ numberInCart }}</p>
      <p *ngIf="!numberInCart">Not in cart</p>
    </div>
    <p>{{ itemDetail.store.title }}</p>
    <p>
      {{itemDetail.description}}
    </p>
    <a *ngIf="authorizedToUpdate" [routerLink]="[getUpdateLink(itemDetail.id)]">Update</a>
    <app-item-variant-detail [itemDetail]="itemDetail" (itemVariantSelected)="itemVariantSelected($event)"></app-item-variant-detail>
  </div>
</div>
