<p>Shopping cart</p>
<div class="row" *ngIf="cartItemThumbnails">
  <table class="table col-12 col-md-12">
    <tbody>
      <tr *ngFor="let cartItemThumbnail of cartItemThumbnails">
        <td>
          <a [routerLink]="[getItemUrl(cartItemThumbnail.item)]" [queryParams]="getItemVariantParams(cartItemThumbnail.itemVariant)">{{ cartItemThumbnail.itemVariant.title }}</a>
        </td>
        <td>{{ cartItemThumbnail.itemVariant.price }}</td>
        <td>
          <form>
            <div class="form-group">
              <button (click)="minusCartItem(cartItemThumbnail.itemVariant)" class="btn">-</button>
              <input type="number" class="form-control number" (change)="setCartItemThumbnail(cartItemThumbnail)"
                     id="'itemVariant_'cartItemThumbnail.itemVariant.id" name="itemVariant_'cartItemThumbnail.itemVariant.id"
                     [(ngModel)]="cartItemThumbnail.number"/>
              <button (click)="plusCartItem(cartItemThumbnail.itemVariant)" class="btn">+</button>
            </div>
            
          </form>
        </td>
        <td>
          <p>{{ cartItemThumbnail.measurementUnit.title }}</p>
        </td>
        <td>
          {{ cartItemThumbnail.itemVariant.price * cartItemThumbnail.number }}
        </td>
        <td>
          <button (click)="removeCartItem(cartItemThumbnail)" class="btn">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <p>{{ sum }}</p>
  </div>
</div>
