<div *ngIf="characteristicValues" class="row">
  <form>
    <div class="form-group">
      <label>{{characteristic.title}}</label>
    </div>
    <div class="form-group" *ngFor="let characteristicValue of characteristicValues">
      <label for="characteristicValue_{{characteristicValue.id}}">{{ characteristicValue.title }}</label>
      <input type="checkbox" name="characteristicValues_{{characteristic.id}}"
             id="characteristicValue_{{characteristicValue.id}}"
             (change)="characteristicValueChecked($event, characteristicValue)" />
    </div>
  </form>
</div>
